.more-clubs{
    display: flex;
    justify-content: flex-end;
    margin-right: 58px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-clubs li ul {
    background: rgb(109,109,109);
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
}
.more-clubs li:hover ul {
    display:block;
}

.more-club {
    font-size: 28px;
    text-align: right;
    margin-right: 8px;
}
.more-arrow{
    width: 25px;
    height: 25px;
    color: #777777;
    margin-top: 8px;
}

.plus-club{
    position: fixed;
    display: flex;
    bottom: 120px;
    right: 58px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.plus-title{
    margin-left: 58px;
    font-size: 56px;
    font-weight: bold;
    height: 120px;
}
.category-container{
    width:fit-content;
    height:140px;
    float:left;
    margin-left: 58px;
    margin-top: 20px;
}

.text-container{
    width: 700px;
    float:left;
    margin-left: 60px;
}
.category_name{
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 4px;
}
.category_desc {
    font-weight: normal;
    font-size: 32px;
    color: #777777;
    margin-top: 4px;
}

.next_button {
    margin-left: 150px;
    margin-bottom: 100px;
}

input[type="radio"] {display: none;}
input[type="radio"] + label {display: inline-block;padding: 20px; color: #46675C;font-size: 14px;cursor: pointer;}
input[type="radio"]:checked + label {color: #46675C;}
input[id="tab01"]:checked ~ .con1 {display: block;}
input[id="tab02"]:checked ~ .con2 {display: block;}
input[id="tab03"]:checked ~ .con3 {display: block;}


.conbox {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: none;
}

.input-group {
    font-size: 44px;
    margin-left: 84px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.club-image{
    width: 500px;
    height: 500px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type=file]::file-selector-button {
    width: 150px;
    height: 50px;
    background: #fff;
    border: 1px solid #46675c;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background: #46675c;
        color: #fff;

    }
}

.club-detail {
    margin-left: 58px;
    margin-right: 58px;
}
.club-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.club-preview {
    font-size: 16px;
    font-weight: bold;
    color: #777777;
}

.club-content {
    font-size: 16px;
    color: #777777;
}

.notice_bar {
    display: flex;

}

.apply_button {
    padding: 8px 16px;
    background-color: #b31312;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none;
    display: inline-block;
    height: fit-content;
    width: 120px;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 660px;
    font-size: 24px;
}

.notice_content {
    padding: 8px 16px;
    background-color: #fff;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    height: fit-content;
    width: 820px;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.club-loc {
    font-size: 32px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 16px;
}

.club-info {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #777777;
    margin-left: 58px;
    margin-right: 58px;
}

.apply-title {
    margin-left: 58px;
    font-size: 56px;
    font-weight: bold;
    height: 120px;
    margin-top: 44px;
}

.apply-notice {
    margin-left: 58px;
    margin-top: 10px;
    margin-bottom: 120px;
    font-size: 52px;
    font-weight: bold;
}

.apply-notice-content {
    margin-left: 20px;
    margin-bottom: 60px;
    font-size: 40px;
}

.apply-check {
    margin-left: 20px;
    font-size: 52px;
    font-weight: bold;
}

.apply_box {
    padding: 100px 16px;
    background-color: #F4B5B7;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    text-decoration: none;
    display: inline-block;
    width: 870px;
    height: 500px;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    margin-left: 58px;
}
