.more-clubs{
    display: flex;
    justify-content: flex-end;
    margin-right: 58px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.more-club {
    font-size: 28px;
    text-align: right;
    margin-right: 8px;
}
.more-arrow{
    width: 25px;
    height: 25px;
    color: #777777;
    margin-top: 8px;
}

.plus-club{
    position: fixed;
    display: flex;
    bottom: 120px;
    right: 58px;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.plus-title{
    margin-top: 20px;
    margin-left: 58px;
    font-size: 56px;
    font-weight: bold;
}
.category-container{
    left: 58px;
}

.category_name{
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.category_content{
    display: flex;
}