@charset "UTF-8";
.rounded-shape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(70, 103, 92) 25%, rgb(226, 243, 227) 15%, rgb(226, 243, 227) 100%);
  width: 800px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 30px;
  box-sizing: border-box;
}
.rounded-shape p {
  margin: 5px 0;
  color: #000000;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-section p {
  margin-right: 10px;
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 5px;
}

.left-section p {
  margin-right: 10px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 35px;
}

.left-section img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.middle-section {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.middle-section p {
  font-size: 35px;
  color: #000000;
}

.middle-section-up, .middle-section-down {
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
}

.middle-section-up {
  font-weight: bold;
  margin-top: 20px;
}

.middle-section-down {
  margin-bottom: 5px;
  text-align: center;
}

.matches {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* To allow items to wrap to the next row if needed */
}

.add-button {
  position: fixed;
  bottom: 192px; /* Adjust this value as needed to position the button */
  right: 67px; /* Adjust this value as needed to position the button */
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.matches {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* To allow items to wrap to the next row if needed */
}

.add-button {
  position: fixed;
  bottom: 192px; /* Adjust this value as needed to position the button */
  right: 67px; /* Adjust this value as needed to position the button */
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.matches {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* To allow items to wrap to the next row if needed */
}

.add-button {
  position: fixed;
  bottom: 192px; /* Adjust this value as needed to position the button */
  right: 67px; /* Adjust this value as needed to position the button */
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* 검색 바 CSS */
.comp-select {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.comp-select .comp-select-container {
  justify-items: center;
  height: 100%;
}
.comp-select .comp-select-container p {
  font-size: 40px;
}

.custom-select {
  width: 1000px;
  height: 500px;
}

/* 팀 생성 */
.select-game-type-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rounded-shape-gametype {
  background: #D9DCDE;
  display: flex;
  justify-content: space-around;
}
.rounded-shape-gametype .round-shape {
  background-color: #D9DCDE;
  width: 200px;
  height: 100px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-shape-gametype .round-shape img {
  width: 80px;
  height: 80px;
}

/*# sourceMappingURL=comp.css.map */
