/* 팀 생성 */
.select-game-type-container {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.rounded-shape-gametype {
  background: #D9DCDE;
  display: flex;
  justify-content: space-around;
  border-radius: 100px;

  .round-shape {
    background-color: #D9DCDE;
    border-radius: inherit;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {

      width: 80px;
      height: 80px;
    }
  }


}

.selected-game-type {
  background-color: #46675C; /* New color for selected game type */
}


.plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #D9DCDE;
  border-radius: 40%;
  cursor: pointer;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.plus-button::before, .plus-button::after {
  content: '';
  position: absolute;
  background-color: #46675c; /* Plus sign color */
  border-radius: 30%;
}

.plus-button::before {
  /* Horizontal line */
  width: 15%; /* Length of the line */
  height: 5%; /* Thickness of the line */
  top: 50%;
  left: 42.5%;
  transform: translateY(-50%);
}

.plus-button::after {
  /* Vertical line */
  width: 5%; /* Thickness of the line */
  height: 15%; /* Length of the line */
  left: 50%;
  top: 42.5%;
  transform: translateX(-50%);
}

// 팀 이름

.team-name-container {
  display: flex;
  justify-content: center;
  margin: 100px auto;

}

.input-icon-container {
  display: flex; /* Makes sure input and icon are in a row */
  align-items: center; /* Aligns items vertically in the center */
   /* Border moved here from input */

  position: relative;
}

.search-input {

  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 45px;
  color: #000000;

  background: transparent; /* Ensures the input has no background */
  margin-left: 175px;
}

.search-icon {
  width: 63px;
  padding: 0 10px;
  cursor: pointer; /* Adds a pointer cursor to the icon */
}

/* Adjust the appearance of input to remove default styles */
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 20px;
}
.input-icon-container::after {
  content: '';
  position: absolute;

  left: 50%; /* Center the pseudo-element */
  bottom: 0; /* Align it at the bottom of the container */
  width: 58%; /* Adjust this value to control the border length */
  height: 7px; /* Border thickness */
  background-color: #DBDBDB; /* Border color */
  transform: translateX(-50%); /* Center the pseudo-element horizontally */
}

/* 게임 타입*/

.game-type-select{
  display: flex;
  justify-content: center;
  img{
    width: 100px;
    height: auto;
    margin-right:20px;
  }
  span{
    font-size:45px;

  }
}
.game-type-select-container{
  display:flex;
}

.game-type-num{
  display:flex;
  justify-content: space-around;
}