main {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    font-family: "Inter";
    overflow-y: auto;
    height: calc(100vh - 240px);
}

.category {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.category-item {
    margin: 0 28px;
    float: left;
}

.category-item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title-item {
    flex: 1;
}

.sub-title {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-left: 58px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.sub-title-district {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-left: 58px;
    margin-top: 28px;
    margin-bottom: 10px;
}

.more {
    font-size: 28px;
    text-align: right;
    margin-right: 58px;
    margin-top: 58px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 36px;
}

.grid-item {
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 24px;
}

.circle_recommend {
    width: 400px;
    height: 400px;
    border-radius: 16px;
}

.circle_name {
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
}

.category_button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #46675c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin-left: 8px;
    margin-top: 20px;
}

.content_button {
    padding: 8px 16px;
    background-color: #b31312;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin-left: 8px;
    margin-top: 20px;
}

.circle_content {
    display: flex;
    justify-content: center;
}

.grid-container-hot {
    flex-direction: column;
}

.grid-hot-item {
    flex: 0 0 calc(50% - 5px);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0px;
}


.circle_hot_content {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.circle_hot_loc {
    font-size: 28px;
    text-align: center;
    margin-top: 16px;
}

.district-container {
    display: flex;
    justify-content: center;
}

.left-district{
    margin-left: 58px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 450px;
    border-radius: 16px;
}
.right-district{
    margin-right: 58px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 450px;
    border-radius: 16px;
}
