<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.club.ClubNoticeMapper">
    <insert id="save" parameterType="clubNotice" >
        INSERT INTO
            club_notice(
                         club_notice_title
                       , club_notice_content
                       , club_notice_view
                       , club_no
                       )
        VALUES ( #{noticeTitle}
               , #{noticeContent}
               , 0
               , #{clubNo}
               )
        <selectKey keyProperty="noticeNo" resultType="long" order="AFTER">
            SELECT club_notice_seq.currval
            FROM dual
        </selectKey>
    </insert>

    <select id="findAll" resultType="clubNotice">
        SELECT club_notice_no AS noticeNo
             , club_notice_title AS noticeTitle
             , club_notice_content AS noticeContent
             , club_notice_view AS noticeView
             , club_no AS clubNo
        FROM club_notice
        WHERE club_no = #{clubNo}
    </select>

    <update id="updateViewCount" parameterType="long">
        UPDATE club_notice
        SET club_notice_view = club_notice_view + 1
        WHERE club_notice_no = #{noticeNo}
    </update>

    <select id="findById" resultType="clubNotice">
        SELECT club_notice_no AS noticeNo
        , club_notice_title AS noticeTitle
        , club_notice_content AS noticeContent
        , club_notice_view AS noticeView
        , club_no AS clubNo
        FROM club_notice
        WHERE club_notice_no = #{noticeNo}
    </select>
</mapper>
