<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.club.ClubLikeMapper">
    <select id="findLike" parameterType="map" resultType="clubLike">
        SELECT likes_no AS likeNo
             , is_liked AS isLiked
             , member_no AS memberNo
             , club_no AS clubNo
        FROM likes
        WHERE member_no = #{memberNo}
          AND club_no = #{clubNo}
          AND is_liked = 'Y'
    </select>

    <insert id="saveLike" parameterType="likeRequest">
        INSERT INTO likes(
                          is_liked
                        , member_no
                        , club_no
                        )
        VALUES (
                #{isLiked}
              , #{memberNo}
              , #{clubNo}
               )
    </insert>

    <update id="deleteLike" parameterType="map">
        UPDATE likes
        SET is_liked = 'N'
        WHERE member_no = #{memberNo}
          AND club_no = #{clubNo}
    </update>

    <select id="findAllOrderByLike" resultType="clubLikeResponse">
        SELECT c.club_no AS clubNo
             , c.club_name AS clubName
             , c.club_image AS clubImage
             , c.club_loc AS clubLoc
             , c.category_id AS categoryId
             , COUNT(l.likes_no) AS likeCount
        FROM club c
                 LEFT JOIN likes l
                     ON c.club_no = l.club_no
        GROUP BY c.club_no
               , c.club_name
               , c.club_image
               , c.club_loc
               , c.category_id
        ORDER BY likeCount DESC
    </select>
</mapper>