<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.club.ClubHistoryMapper">
    <insert id="saveTitle" parameterType="clubHistory">
        INSERT INTO
            club_history(
                         club_history_title
                       , club_no
                        )
        VALUES (
                #{historyTitle}
              , #{clubNo}
               )
        <selectKey keyProperty="historyNo" resultType="long" order="AFTER">
            SELECT club_history_seq.currval
            FROM dual
        </selectKey>
    </insert>

    <insert id="saveImage" parameterType="map">
        INSERT INTO club_image (club_history_no, image_url)
        SELECT
        #{historyNo} AS club_history_no,
        image_url AS image_url
        FROM (
        <foreach collection="imageUrls" item="imageUrl" separator="union all">
            SELECT #{imageUrl} AS image_url FROM dual
        </foreach>
        )
    </insert>

    <select id="findAll" parameterType="long" resultType="clubHistoryGetResponse">
        SELECT h.club_history_no AS historyNo
             , h.club_history_title AS title
             , i.image_url AS imageUrl
             , h.club_no AS clubNo
        FROM club_history h
                INNER JOIN club_image i
                           ON h.club_history_no = i.club_history_no
        WHERE h.club_no = #{clubNo}
    </select>

    <delete id="deleteTitle" parameterType="long">
        DELETE FROM club_history
        WHERE club_no = #{clubNo}
    </delete>

    <delete id="deleteImage" parameterType="long">
        DELETE FROM club_image
        WHERE club_history_no IN
            (
             SELECT club_history_no
             FROM club_history
             WHERE club_no = #{clubNo}
            )
    </delete>
</mapper>